---
import Quote from "../components/Quote.astro";
import QuotePlaceholder from "../components/QuotePlaceholder.astro";
import Contact from "../components/Contact.astro";
import Satisfaction from "../components/Satisfaction.astro";
import ServerEnv from "../components/ServerEnv.astro";
import ClientEnv from "../components/ClientEnv.astro";
const pageTitle = "Home Page V2";
const siteDesc = "Trial cloudflare";
const apiUrl = import.meta.env.PUBLIC_API_URL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={siteDesc}>
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<Quote server:defer>
			<QuotePlaceholder slot="fallback"/>
		</Quote>
	<Contact/>
	<Satisfaction/>
	<ClientEnv/>
	</body>
</html>
