---
const apiUrl = import.meta.env.PUBLIC_API_URL;
const key = Astro.locals.runtime.env.SECRET_KEY;
---

<ul>
    <li>`env : {import.meta.env.PROD}`</li>
    <li>`API_URL env : {apiUrl}`</li>
    <li>`SECRET_KEY env : {key}`</li>
</ul>
