---
import { API_URL } from "astro:env/client";
import { API_SECRET } from "astro:env/server";


// noinspection JSUnusedGlobalSymbols
export const prerender = false

interface Quote {
    quote: string;
    id: number;
}
async function getQuote() {
    try {
        const response = await fetch('https://dummyjson.com/quotes/random');
        const data = (await response.json() as Quote);
        console.log("Data received:", data.quote);
        return data.quote;
    } catch (error) {
        console.error("Error fetching data:", error);
    }
}

const quote = await getQuote();
//const now = new Date().toLocaleTimeString();
---
<div class="p-3 bg-gray-100 rounded">
    💬 Quote: {quote}
    `API_SECRET {API_SECRET}`
    `API_URL {API_URL}/users`
</div>

